div.title{
	align-content: center;
	text-align: center;
	margin-top: 20px;
}

div.container{
	align-content: center;
}

a.navbar-brand{
	text-align: center;
	font-family: 'Playfair Display';
	font-size: 40px;
	color: black;
}

a.shop{
	color: blue;
}

img.icon{
	max-width: 35px;
	max-height: 35px;
	min-height: 30px;
	min-width: 30px;
}

#twitter {
	max-height:25px;
	max-width:25px;
	min-height: 20px;
	min-width: 20px;
}

#youtube{
	max-height:30px;
	max-width:30px;
	min-height: 25px;
	min-width: 25px;
}

a{ 
	text-decoration: none !important;
	color: black;
}

body{
	background-color: #d0faff;
}

nav.navbar{
	background-color: #d0faff;
}

li.nav-item{
	margin-left: 80px;
}

#gse{
  width:200px;
  margin-left: 65%;
}

#events, #blog, #books{
	background-color: white;
	text-align: left;
	align-content: center;
	
}

div.blogpost{
	background-color: white;
	align-content: center;
	text-align: left;
}

div.fb-comments{
	margin-left: 30%;
}

h1{
	text-align: center;
	font-family: 'Playfair Display';
	color: black;
}

h3, h4, h5{
	text-align: left;
	font-family: 'Playfair Display';
	color: black;
}

img.img-responsive{
	max-height:400px;
	max-width:300px;
}



#info{
	align-content: center;
	text-align: left;
	background: white;
}



div.carousel-item{
	max-height: px;
	max-width: 1250px;
}

